<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Status | WatchGalleria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2c8d038c04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/vendorDashboard.css">
    <style>
        a{
            text-decoration: none;
        }
        .main-body {
            padding-left: 190px;
        }
        @media screen and (max-width:991px) {
            .main-body {
                padding-left: 0px;
            }
        }
        .active {
            font-weight: bolder;
            color: #DCAB27;
        }
    </style>
</head>
<body>
    <%- include('adminDashboardSidebar') %>
       <!-- successful message -->
      
       <main class="container main-body mt-lg-3">
          <!-- searchbar -->
          <div class="container mt-3">
            <div class="row">
                <div class="col-lg-4">
                    <form action="/admin/orderSearch" method="POST">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search by order status" name="orderStatus">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Order By</th>
                <th scope="col fw-bold">Order Status</th>
                <th scope="col">Amount</th>
                <th scope="col">Order Date</th>
              </tr>
            </thead>
            
            <tbody>
              <% orderData.forEach(order => { %>
                <tr>
                  <td><%= order.orderId %></td>
                  <td><%=order.user ? order.user.username : 'N/A'  %></td>
                  <td><%= order.status %></td>
                  <td><%= order.Totalamount %></td>
                  <td><%= moment(order.orderDate).format('YYYY-MM-DD')  %></td>
                </tr>
                <% }) %>

            </tbody>
        </table>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="/scripts/dashboard.js"></script>
</body>
</html>